@model HouseholdBudget.Models.DashboardViewModel

@{
     ViewBag.Title = "Dashboard";
}


<div class="container-fluid">
<h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <h4>@Html.DisplayNameFor(model => Model.accounts)</h4>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.accounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                            @Html.DisplayFor(modelItem => item.Balance)
                            <br />
                            <hr />
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
        <div class="col-md-offset-1"></div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h4>@Html.DisplayNameFor(model => Model.budgetItems)</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.budgetItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)
                                @Html.DisplayFor(modelItem => item.Amount)
                                <br />
                                <hr />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-offset-1"></div>
    </div>






</div>


<script>
    $('.table').DataTable();
</script>
