@model IEnumerable<HouseholdBudget.Models.DashboardViewModel>



@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-5">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.household)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.household)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-offset-1"></div>

    <div class="col-md-5">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.invitations)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.invitations)
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.accounts)
                </th>
            </tr>
            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.accounts)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-offset-1"></div>

    <div class="col-md-5">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.budgets)
                </th>
            </tr>
            @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.budgets)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.transactions)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.transactions)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-md-offset-1"></div>

        <div class="col-md-5">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.budgetItems)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.budgetItems)
                        </td>
                    </tr>
                }
            </table>
        </div>


    </div>

</div>